body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.calendar-container {
  display: flex;
  height: 100%;
}

.left-panel {
  flex: 3;
  padding: 16px;
}

.right-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-left: 1px solid #ddd;
}

.today-schedule {
  margin-top: 16px;
  overflow-y: auto;
}
